{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id=current_password name="current_password" placeholder="Current Password" type="Password">
            <i class="fa-solid fa-eye me-3" onclick="togglePassword('current_password', this)" style="cursor: pointer;"></i>
        </div>
        <div class="mb-3 position-relative">
            <input type="password" class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New Password">
            <i class="fa-solid fa-eye me-3" onclick="togglePassword('new_password', this)" style="cursor: pointer;"></i>
        </div>
        <div class="mb-3 position-relative">
            <input type="password" class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password">
            <i class="fa-solid fa-eye me-3" onclick="togglePassword('confirmation', this)" style="cursor: pointer;"></i>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <script>
        function togglePassword(id, icon) {
            const passwordInput = document.getElementById(id);
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            }
        }
    </script>

{% endblock %}
